fastapi>=0.95
uvicorn[standard]>=0.22
openai>=1.0
python-dotenv>=1.0
spacy>=3.4
PyPDF2>=3.0
python-multipart>=0.0.2

transformers>=4.40
torch>=2.0
requests>=2.31

pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.6.0/pt_core_news_sm-3.6.0-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl

